openapi: '3.0.2'
info:
  title: Binance Public Spot API
  description: |-
    OpenAPI Specifications for the Binance Public Spot API

    API documents:
      - [https://github.com/binance/binance-spot-api-docs](https://github.com/binance/binance-spot-api-docs)
      - [https://binance-docs.github.io/apidocs/spot/en](https://binance-docs.github.io/apidocs/spot/en)
  version: '1.0'

servers:
  - url: https://api.binance.com
  - url: https://testnet.binance.vision

tags:
  - name: Market
    description: Market Data
  - name: Trade
    description: Account/Trade
  - name: Margin
    description: Margin Account/Trade
  - name: Wallet
    description: Wallet Endpoints
  - name: Sub-Account
    description: Sub-account Endpoints
  - name: Stream
    description: User Data Stream
  - name: Margin Stream
    description: Margin User Data Stream
  - name: Isolated Margin Stream
    description: Isolated User Data Stream
  - name: Savings
    description: Savings Endpoints
  - name: Mining
    description: Mining Endpoints
  - name: BLVT
    description: Binance Leveraged Tokens Endpoints
  - name: BSwap
    description: Binance Swap Endpoints
  - name: Fiat
    description: Fiat Endpoints
  - name: C2C
    description: Consumer-To-Consumer Endpoints
  - name: Crypto Loans
    description: Crypto Loans Endpoints
  - name: Pay
    description: Pay Endpoints
  - name: Convert
    description: Convert Endpoints
  - name: Rebate
    description: Rebate Endpoints
  - name: NFT
    description: NFT Endpoints
  - name: Gift Card
    description: Gift Card Endpoints
paths:
  /api/v3/ping:
    get:
      summary: Test Connectivity
      description: |-
        Test connectivity to the Rest API.

        Weight(IP): 1
      tags:
        - Market
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /api/v3/time:
    get:
      summary: Check Server Time
      description: |-
        Test connectivity to the Rest API and get the current server time.

        Weight(IP): 1
      tags:
        - Market
      responses:
        '200':
          description: Binance server UTC timestamp
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: integer
                    format: int64
                    example: 1499827319559
                required:
                  - serverTime
  /api/v3/exchangeInfo:
    get:
      summary: Exchange Information
      description: |-
        Current exchange trading rules and symbol information
        
        - If any symbol provided in either symbol or symbols do not exist, the endpoint will throw an error.
        
        Weight(IP): 10
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
        - $ref: '#/components/parameters/arraySymbols'
      responses:
        '200':
          description: Current exchange trading rules and symbol information
          content:
            application/json:
              schema:
                type: object
                properties:
                  timezone:
                    type: string
                    example: UTC
                  serverTime:
                    type: integer
                    format: int64
                    example: 1592882214236
                  rateLimits:
                    type: array
                    items:
                      type: object
                      properties:
                        rateLimitType:
                          type: string
                          example: "REQUEST_WEIGHT"
                        interval:
                          type: string
                          example: "MINUTE"
                        intervalNum:
                          type: integer
                          format: int32
                          example: 1
                        limit:
                          type: integer
                          format: int32
                          example: 1200
                      required:
                        - rateLimitType
                        - interval
                        - intervalNum
                        - limit
                  exchangeFilters:
                    type: array
                    items:
                      type: object
                  symbols:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: "ETHBTC"
                        status:
                          type: string
                          example: "TRADING"
                        baseAsset:
                          type: string
                          example: "ETH"
                        baseAssetPrecision:
                          type: integer
                          format: int32
                          example: 8
                        quoteAsset:
                          type: string
                          example: "BTC"
                        quoteAssetPrecision:
                          type: integer
                          format: int32
                          example: 8
                        baseCommissionPrecision:
                          type: integer
                          format: int32
                          example: 8
                        quoteCommissionPrecision:
                          type: integer
                          format: int32
                          example: 8
                        orderTypes:
                          type: array
                          items:
                            type: string
                            example: "LIMIT"
                        icebergAllowed:
                          type: boolean
                        ocoAllowed:
                          type: boolean
                        quoteOrderQtyMarketAllowed:
                          type: boolean
                        allowTrailingStop:
                          type: boolean
                          example: false
                        isSpotTradingAllowed:
                          type: boolean
                        isMarginTradingAllowed:
                          type: boolean
                        filters:
                          type: array
                          items:
                            type: object
                            properties:
                              filterType:
                                type: string
                                example: "PRICE_FILTER"
                              minPrice:
                                type: string
                                example: "0.00000100"
                              maxPrice:
                                type: string
                                example: "100000.00000000"
                              tickSize:
                                type: string
                                example: "0.00000100"
                            required:
                              - filterType
                              - minPrice
                              - maxPrice
                              - tickSize
                        permissions:
                          type: array
                          items:
                            type: string
                            example: "SPOT"
                      required:
                        - symbol
                        - status
                        - baseAsset
                        - baseAssetPrecision
                        - quoteAsset
                        - quoteAssetPrecision
                        - baseCommissionPrecision
                        - quoteCommissionPrecision
                        - orderTypes
                        - icebergAllowed
                        - ocoAllowed
                        - quoteOrderQtyMarketAllowed
                        - allowTrailingStop
                        - isSpotTradingAllowed
                        - isMarginTradingAllowed
                        - filters
                        - permissions
                required:
                  - timezone
                  - serverTime
                  - rateLimits
                  - exchangeFilters
                  - symbols
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/depth:
    get:
      summary: Order Book
      description: |-
        | Limit               | Weight(IP)  |
        |---------------------|-------------|
        | 1-100               | 1           |
        | 101-500             | 5           |
        | 501-1000            | 10          |
        | 1001-5000           | 50          |
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/symbol'
        - name: limit
          in: query
          description: If limit > 5000, then the response will truncate to 5000
          schema:
            type: integer
            format: int32
            default: 100
            maximum: 5000
            example: 100
      responses:
        '200':
          description: Order book
          content:
            application/json:
              schema:
                type: object
                properties:
                  lastUpdateId:
                    type: integer
                    format: int64
                  bids:
                    type: array
                    items:
                        type: array
                        items:
                          type: string
                          minItems: 2
                          maxItems: 2
                  asks:
                    type: array
                    items:
                        type: array
                        items:
                          type: string
                          minItems: 2
                          maxItems: 2
                required:
                  - lastUpdateId
                  - bids
                  - asks
              example:
                lastUpdateId: 1027024
                bids:
                -
                  - "4.00000000"
                  - "431.00000000"
                asks:
                -
                  - "4.00000200"
                  - "12.00000000"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/trades:
    get:
      summary: Recent Trades List
      description: |-
        Get recent trades.

        Weight(IP): 1
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/historicalTrades:
    get:
      summary: Old Trade Lookup (MARKET_DATA)
      description: |-
        Get older market trades.

        Weight(IP): 5
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/fromId'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/aggTrades:
    get:
      summary: Compressed/Aggregate Trades List
      description: |-
        Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.
        - If `startTime` and `endTime` are sent, time between startTime and endTime must be less than 1 hour.
        - If `fromId`, `startTime`, and `endTime` are not sent, the most recent aggregate trades will be returned.

        Weight(IP): 1
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/fromId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/aggTrade'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/klines:
    get:
      summary: Kline/Candlestick Data
      description: |-
        Kline/candlestick bars for a symbol.
        Klines are uniquely identified by their open time.
        
        - If `startTime` and `endTime` are not sent, the most recent klines are returned.

        Weight(IP): 1
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/symbol'
        - name: interval
          in: query
          required: true
          description: kline intervals
          schema:
            type: string
            enum: [1m,3m,5m,15m,30m,1h,2h,4h,6h,8h,12h,1d,3d,1w,1M]
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Kline data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    oneOf:
                      - type: integer
                        format: int64
                      - type: string
                    minItems: 12
                    maxItems: 12
                  example:
                    - 1499040000000
                    - "0.01634790"
                    - "0.80000000"
                    - "0.01575800"
                    - "0.01577100"
                    - "148976.11427815"
                    - 1499644799999
                    - "2434.19055334"
                    - 308
                    - "1756.87402397"
                    - "28.46694368"
                    - "17928899.62484339"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/avgPrice:
    get:
      summary: Current Average Price
      description: |-
        Current average price for a symbol.

        Weight(IP): 1
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/symbol'
      responses:
        '200':
          description: Average price
          content:
            application/json:
              schema:
                type: object
                properties:
                  mins:
                    type: integer
                    format: int64
                    example: 5
                  price:
                    type: string
                    example: "9.35751834"
                required:
                  - mins
                  - price
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/ticker/24hr:
    get:
      summary: 24hr Ticker Price Change Statistics
      description: |-
        24 hour rolling window price change statistics. Careful when accessing this with no symbol.
        
        - If the symbol is not sent, tickers for all symbols will be returned in an array.

        Weight(IP):
        - `1` for a single symbol;
        - `40` when the symbol parameter is omitted;

      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
      responses:
        '200':
          description: 24hr ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ticker'
                  - $ref: '#/components/schemas/tickerList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/ticker/price:
    get:
      summary: Symbol Price Ticker
      description: |-
        Latest price for a symbol or symbols.
        
        - If the symbol is not sent, prices for all symbols will be returned in an array.

        Weight(IP):
        - `1` for a single symbol;
        - `2` when the symbol parameter is omitted;
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
      responses:
        '200':
          description: Price ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/priceTicker'
                  - $ref: '#/components/schemas/priceTickerList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/ticker/bookTicker:
    get:
      summary: Symbol Order Book Ticker
      description: |-
        Best price/qty on the order book for a symbol or symbols.

        - If the symbol is not sent, bookTickers for all symbols will be returned in an array.
        
        Weight(IP):
        - `1` for a single symbol;
        - `2` when the symbol parameter is omitted;
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
      responses:
        '200':
          description: Order book ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/bookTicker'
                  - $ref: '#/components/schemas/bookTickerList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/order/test:
    post:
      summary: Test New Order (TRADE)
      description: |-
        Test new order creation and signature/recvWindow long.
        Creates and validates a new order but does not send it into the matching engine.

        Weight(IP): 1
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/orderType'
        - $ref: '#/components/parameters/timeInForce'
        - $ref: '#/components/parameters/optionalQuantity'
        - $ref: '#/components/parameters/quoteOrderQty'
        - $ref: '#/components/parameters/optionalPrice'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/stopPrice'
        - $ref: '#/components/parameters/optionalTrailingDelta'
        - $ref: '#/components/parameters/icebergQty'
        - $ref: '#/components/parameters/newOrderRespType'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/order:
    get:
      summary: Query Order (USER_DATA)
      description: |-
        Check an order's status.

        - Either `orderId` or `origClientOrderId` must be sent.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight(IP): 2
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      summary: New Order (TRADE)
      description: |-
        Send in a new order.

        - `LIMIT_MAKER` are `LIMIT` orders that will be rejected if they would immediately match and trade as a taker.
        - `STOP_LOSS` and `TAKE_PROFIT` will execute a `MARKET` order when the `stopPrice` is reached.
        - Any `LIMIT` or `LIMIT_MAKER` type order can be made an iceberg order by sending an `icebergQty`.
        - Any order with an `icebergQty` MUST have `timeInForce` set to `GTC`.
        - `MARKET` orders using `quantity` specifies how much a user wants to buy or sell based on the market price.
        - `MARKET` orders using `quoteOrderQty` specifies the amount the user wants to spend (when buying) or receive (when selling) of the quote asset; the correct quantity will be determined based on the market liquidity and `quoteOrderQty`.
        - `MARKET` orders using `quoteOrderQty` will not break `LOT_SIZE` filter rules; the order will execute a quantity that will have the notional value as close as possible to `quoteOrderQty`.
        - same `newClientOrderId` can be accepted only when the previous one is filled, otherwise the order will be rejected.

        Trigger order price rules against market price for both `MARKET` and `LIMIT` versions:

        - Price above market price: `STOP_LOSS` `BUY`, `TAKE_PROFIT` `SELL`
        - Price below market price: `STOP_LOSS` `SELL`, `TAKE_PROFIT` `BUY`


        Weight(IP): 1
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/orderType'
        - $ref: '#/components/parameters/timeInForce'
        - $ref: '#/components/parameters/optionalQuantity'
        - $ref: '#/components/parameters/quoteOrderQty'
        - $ref: '#/components/parameters/optionalPrice'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/stopPrice'
        - $ref: '#/components/parameters/optionalTrailingDelta'
        - $ref: '#/components/parameters/icebergQty'
        - $ref: '#/components/parameters/newOrderRespType'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Order result
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/orderResponseAck'
                  - $ref: '#/components/schemas/orderResponseResult'
                  - $ref: '#/components/schemas/orderResponseFull'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      summary: Cancel Order (TRADE)
      description: |-
        Cancel an active order.

        Either `orderId` or `origClientOrderId` must be sent.

        Weight(IP): 1
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Cancelled order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /api/v3/openOrders:
    get:
      summary: Current Open Orders (USER_DATA)
      description: |-
        Get all open orders on a symbol. Careful when accessing this with no symbol.

        Weight(IP):
        - `3` for a single symbol;
        - `40` when the symbol parameter is omitted;
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Current open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/orderDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
    delete:
      summary: Cancel all Open Orders on a Symbol (TRADE)
      description: |-
        Cancels all active orders on a symbol.
        This includes OCO orders.

        Weight(IP): 1
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Cancelled orders
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/order'
                    - $ref: '#/components/schemas/ocoOrder'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/allOrders:
    get:
      summary: All Orders (USER_DATA)
      description: |-
        Get all account orders; active, canceled, or filled..

        - If `orderId` is set, it will get orders >= that `orderId`. Otherwise most recent orders are returned.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.
        - If `startTime` and/or `endTime` provided, `orderId` is not required

        Weight(IP): 10
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Current open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/orderDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/order/oco:
    post:
      summary: New OCO (TRADE)
      description: |-
        Send in a new OCO

        - Price Restrictions:
          - `SELL`: Limit Price > Last Price > Stop Price
          - `BUY`: Limit Price < Last Price < Stop Price
        - Quantity Restrictions:
            - Both legs must have the same quantity
            - `ICEBERG` quantities however do not have to be the same
        - Order Rate Limit
            - `OCO` counts as 2 orders against the order rate limit.
            
        Weight(IP): 1
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/listClientOrderId'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/quantity'
        - $ref: '#/components/parameters/limitClientOrderId'
        - $ref: '#/components/parameters/price'
        - $ref: '#/components/parameters/limitIcebergQty'
        - name: trailingDelta
          in: query
          schema:
            type: number
            format: double
        - $ref: '#/components/parameters/stopClientOrderId'
        - $ref: '#/components/parameters/ocoStopPrice'
        - $ref: '#/components/parameters/stopLimitPrice'
        - $ref: '#/components/parameters/stopIcebergQty'
        - $ref: '#/components/parameters/stopLimitTimeInForce'
        - $ref: '#/components/parameters/ocoNewOrderRespType'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: New OCO details
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderListId:
                    type: integer
                    format: int64
                    example: 0
                  contingencyType:
                    type: string
                    example: "OCO"
                  listStatusType:
                    type: string
                    example: "EXEC_STARTED"
                  listOrderStatus:
                    type: string
                    example: "EXECUTING"
                  listClientOrderId:
                    type: string
                    example: "JYVpp3F0f5CAG15DhtrqLp"
                  transactionTime:
                    type: integer
                    format: int64
                    example: 1563417480525
                  symbol:
                    type: string
                    example: "LTCBTC"
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                        orderId:
                          type: integer
                          format: int64
                        clientOrderId:
                          type: string
                      required:
                        - symbol
                        - orderId
                        - clientOrderId
                      example:
                        - symbol: "LTCBTC"
                          orderId: 2
                          clientOrderId: "Kk7sqHb9J6mJWTMDVW7Vos"
                        - symbol: "LTCBTC"
                          orderId: 3
                          clientOrderId: "xTXKaGYd4bluPVp78IVRvl"
                  orderReports: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          type: string
                        orderId: 
                          type: integer
                          format: int64
                        orderListId: 
                          type: integer
                          format: int64
                        clientOrderId: 
                          type: string
                        transactTime: 
                          type: integer
                          format: int64
                        price: 
                          type: string
                        origQty: 
                          type: string
                        executedQty: 
                          type: string
                        cummulativeQuoteQty: 
                          type: string
                        status: 
                          type: string
                        timeInForce: 
                          type: string
                        type: 
                          type: string
                        side: 
                          type: string
                        stopPrice: 
                          type: string
                      required:
                        - symbol
                        - orderId
                        - orderListId
                        - clientOrderId
                        - transactTime
                        - price
                        - origQty
                        - executedQty
                        - cummulativeQuoteQty
                        - status
                        - timeInForce
                        - type
                        - side
                        - stopPrice
                    example:
                      - symbol: "LTCBTC"
                        orderId: 2
                        orderListId: 0
                        clientOrderId: "Kk7sqHb9J6mJWTMDVW7Vos"
                        transactTime: 1563417480525
                        price: "0.000000"
                        origQty: "0.624363"
                        executedQty: "0.000000"
                        cummulativeQuoteQty: "0.000000"
                        status: "NEW"
                        timeInForce: "GTC"
                        type: "STOP_LOSS"
                        side: "BUY"
                        stopPrice: "0.960664"
                      - symbol: "LTCBTC"
                        orderId: 3
                        orderListId: 0
                        clientOrderId: "xTXKaGYd4bluPVp78IVRvl"
                        transactTime: 1563417480525
                        price: "0.036435"
                        origQty: "0.624363"
                        executedQty: "0.000000"
                        cummulativeQuoteQty: "0.000000"
                        status: "NEW"
                        timeInForce: "GTC"
                        type: "LIMIT_MAKER"
                        side: "BUY"
                required:
                  - orderListId
                  - contingencyType
                  - listStatusType
                  - listOrderStatus
                  - listClientOrderId
                  - transactionTime
                  - symbol
                  - orders
                  - orderReports
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/orderList:
    get:
      summary: Query OCO (USER_DATA)
      description: |-
        Retrieves a specific OCO based on provided optional parameters

        Weight(IP): 2
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/orderListId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OCO details
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderListId:
                    type: integer
                    format: int64
                    example: 27
                  contingencyType:
                    type: string
                    example: "OCO"
                  listStatusType:
                    type: string
                    example: "EXEC_STARTED"
                  listOrderStatus:
                    type: string
                    example: "EXECUTING"
                  listClientOrderId:
                    type: string
                    example: "h2USkA5YQpaXHPIrkd96xE"
                  transactionTime:
                    type: integer
                    format: int64
                    example: 1565245656253
                  symbol:
                    type: string
                    example: "LTCBTC"
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol: 
                          type: string
                        orderId: 
                          type: integer
                          format: int64
                        clientOrderId: 
                          type: string
                      example:
                        - symbol: "LTCBTC"
                          orderId: 4
                          clientOrderId: "qD1gy3kc3Gx0rihm9Y3xwS"
                        - symbol: "LTCBTC"
                          orderId: 5
                          clientOrderId: "ARzZ9I00CPM8i3NhmU9Ega"
                      required:
                        - symbol
                        - orderId
                        - clientOrderId
                required:
                  - orderListId
                  - contingencyType
                  - listStatusType
                  - listOrderStatus
                  - listClientOrderId
                  - transactionTime
                  - symbol
                  - orders
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
    delete:
      summary: Cancel OCO (TRADE)
      description: |-
        Cancel an entire Order List

        Canceling an individual leg will cancel the entire OCO

        Weight(IP): 1
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderListId'
        - $ref: '#/components/parameters/listClientOrderId'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Report on deleted OCO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ocoOrder'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/allOrderList:
    get:
      summary: Query all OCO (USER_DATA)
      description: |-
        Retrieves all OCO based on provided optional parameters

        Weight(IP): 10
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/fromId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of OCO orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    orderListId: 
                      type: integer
                      format: int64
                      example: 29
                    contingencyType: 
                      type: string
                      example: "OCO"
                    listStatusType: 
                      type: string
                      example: "EXEC_STARTED"
                    listOrderStatus: 
                      type: string
                      example: "EXECUTING"
                    listClientOrderId: 
                      type: string
                      example: "amEEAXryFzFwYF1FeRpUoZ"
                    transactionTime: 
                      type: integer
                      format: int64
                      example: 1565245913483
                    symbol: 
                      type: string
                      example: "LTCBTC"
                    isIsolated: 
                      type: boolean
                    orders: 
                      type: array
                      items: 
                        type: object
                        properties: 
                          symbol: 
                            type: string
                          orderId: 
                            type: integer
                            format: int64
                          clientOrderId: 
                            type: string
                        example:
                          - symbol: "LTCBTC"
                            orderId: 4
                            clientOrderId: "oD7aesZqjEGlZrbtRpy5zB"
                          - symbol: "LTCBTC"
                            orderId: 5
                            clientOrderId: "Jr1h6xirOxgeJOUuYQS7V3"
                        required:
                          - symbol
                          - orderId
                          - clientOrderId
                  required:
                    - orderListId
                    - contingencyType
                    - listStatusType
                    - listOrderStatus
                    - listClientOrderId
                    - transactionTime
                    - symbol
                    - isIsolated
                    - orders
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/openOrderList:
    get:
      summary: Query Open OCO (USER_DATA)
      description: 'Weight(IP): 3'
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of OCO orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    orderListId: 
                      type: integer
                      format: int64
                      example: 31
                    contingencyType: 
                      type: string
                      example: "OCO"
                    listStatusType: 
                      type: string
                      example: "EXEC_STARTED"
                    listOrderStatus: 
                      type: string
                      example: "EXECUTING"
                    listClientOrderId: 
                      type: string
                      example: "wuB13fmulKj3YjdqWEcsnp"
                    transactionTime: 
                      type: integer
                      format: int64
                      example: 1565246080644
                    symbol: 
                      type: string
                      example: "LTCBTC"
                    orders: 
                      type: array
                      items: 
                        type: object
                        properties: 
                          symbol: 
                            type: string
                          orderId: 
                            type: integer
                            format: int64
                          clientOrderId: 
                            type: string
                        required:
                          - symbol
                          - orderId
                          - clientOrderId
                        example:
                          - symbol: "LTCBTC"
                            orderId: 4
                            clientOrderId: "r3EH2N76dHfLoSZWIUw1bT"
                          - symbol: "LTCBTC"
                            orderId: 5
                            clientOrderId: "Cv1SnyPD3qhqpbjpYEHbd2"
                  required:
                    - orderListId
                    - contingencyType
                    - listStatusType
                    - listOrderStatus
                    - listClientOrderId
                    - transactionTime
                    - symbol
                    - orders
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/account:
    get:
      summary: Account Information (USER_DATA)
      description: |-
        Get current account information.

        Weight(IP): 10
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/myTrades:
    get:
      summary: Account Trade List (USER_DATA)
      description: |-
        Get trades for a specific account and symbol.

        If `fromId` is set, it will get id >= that `fromId`. Otherwise most recent orders are returned.

        Weight(IP): 10
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - name: orderId
          in: query
          description: This can only be used in combination with symbol.
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/fromId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of trades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/myTrade'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /api/v3/rateLimit/order:
    get:
      summary: Query Current Order Count Usage (TRADE)
      description: |-
        Displays the user's current order count usage for all intervals.

        Weight(IP): 20
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Order rate limits
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: 
                    rateLimitType: 
                      type: string
                    interval: 
                      type: string
                    intervalNum: 
                      type: integer
                      format: int32
                    limit: 
                      type: integer
                      format: int32
                    count: 
                      type: integer
                      format: int32
                  required:
                    - rateLimitType
                    - interval
                    - intervalNum
                    - limit
                example:
                  - rateLimitType: "ORDERS"
                    interval: "SECOND"
                    intervalNum: 10
                    limit: 10000
                    count: 0
                  - rateLimitType: "ORDERS"
                    interval: "DAY"
                    intervalNum: 1
                    limit: 20000
                    count: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /sapi/v1/margin/transfer:
    post:
      summary: Cross Margin Account Transfer (MARGIN)
      description: |-
        Execute transfer between spot account and cross margin account.

        Weight(IP): 600
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/amount'
        - name: type
          in: query
          required: true
          description: |-
            * `1` - transfer from main account to margin account
            * `2` - transfer from margin account to main account
          schema:
            type: integer
            format: int32
            enum: [1,2]
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Transfer Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
    get:
      summary: Get Cross Margin Transfer History (USER_DATA)
      description: |-
        - Response in descending order
        - Returns data for last 7 days by default
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/optionalAsset'
        - name: type
          in: query
          description: Transfer Type
          schema:
            type: string
            enum: [ROLL_IN, ROLL_OUT]
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/archived'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Margin account transfer history, response in descending order
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        amount: 
                          type: string
                        asset: 
                          type: string
                        status: 
                          type: string
                        timestamp: 
                          type: integer
                          format: int64
                        txId: 
                          type: integer
                          format: int64
                        type: 
                          type: string
                      required:
                        - amount
                        - asset
                        - status
                        - timestamp
                        - txId
                        - type
                  total: 
                    type: integer
                    format: int32
                    example: 3
                example:
                  rows:
                    -
                      amount: "0.10000000"
                      asset: "BNB"
                      status: "CONFIRMED"
                      timestamp: 1566898617
                      txId: 5240372201
                      type: "ROLL_IN"
                  total: 1
                required:
                  - rows
                  - total
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/loan:
    post:
      summary: Margin Account Borrow (MARGIN)
      description: |-
        Apply for a loan.

        - If "isIsolated" = "TRUE", "symbol" must be sent
        - "isIsolated" = "FALSE" for crossed margin loan
        
        Weight(UID): 3000
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/optionalSymbol'
        - $ref: '#/components/parameters/amount'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Transaction id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
    get:
      summary: Query Loan Record (USER_DATA)
      description: |-
        - `txId` or `startTime` must be sent. `txId` takes precedence.
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 10
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/isolatedSymbol'
        - name: txId
          in: query
          description: the tranId in  `POST /sapi/v1/margin/loan`
          schema:
            type: integer
            format: int64
            example: 123456789
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/archived'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Loan records
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items: 
                      type: object
                      properties: 
                        isolatedSymbol: 
                          type: string
                        txId: 
                          type: integer
                          format: int64
                        asset: 
                          type: string
                        principal: 
                          type: string
                        timestamp: 
                          type: integer
                          format: int64
                        status: 
                          type: string
                      required:
                        - isolatedSymbol
                        - txId
                        - asset
                        - principal
                        - timestamp
                        - status
                  total: 
                    type: integer
                    format: int32
                required:
                  - rows
                  - total
                example:
                  rows:
                    -
                      isolatedSymbol: "BNBUSDT"
                      txId: 12807067523
                      asset: "BNB"
                      principal: "0.84624403"
                      timestamp: 1555056425000
                      status: "CONFIRMED"
                  total: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /sapi/v1/margin/repay:
    post:
      summary: Margin Account Repay (MARGIN)
      description: |-
        Repay loan for margin account.
        
        - If "isIsolated" = "TRUE", "symbol" must be sent
        - "isIsolated" = "FALSE" for crossed margin repay

        Weight(IP): 3000
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/optionalSymbol'
        - $ref: '#/components/parameters/amount'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Transaction id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
    get:
      summary: Query Repay Record (USER_DATA)
      description: |-
        - `txId` or `startTime` must be sent. `txId` takes precedence.
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago
        
        Weight(IP): 10
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/isolatedSymbol'
        - name: txId
          in: query
          description: the tranId in  `POST /sapi/v1/margin/repay`
          schema:
            type: integer
            format: int64
            example: 2970933056
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/archived'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Load records
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        isolatedSymbol:
                          type: string
                          example: "BNBUSDT"
                          description: Isolated symbol, will not be returned for crossed margin
                        amount:
                          type: string
                          example: "14.00000000"
                          description: Total amount repaid
                        asset:
                          type: string
                          example: "BNB"
                        interest:
                          type: string
                          example: "0.01866667"
                          description: Interest repaid
                        principal:
                          type: string
                          example: "13.98133333"
                          description: Principal repaid
                        status:
                          type: string
                          example: "CONFIRMED"
                          description: One of PENDING (pending execution), CONFIRMED (successfully execution), FAILED (execution failed, nothing happened to your account)
                        timestamp:
                          type: integer
                          format: int64
                          example: 1563438204000
                        txId:
                          type: integer
                          format: int64
                          example: 2970933056
                      required:
                        - isolatedSymbol
                        - amount
                        - asset
                        - interest
                        - principal
                        - status
                        - timestamp
                        - txId
                  total:
                    type: integer
                    format: int32
                    example: 1
                required:
                  - rows
                  - total
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
            description: Unauthorized Request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/error'
  /sapi/v1/margin/asset:
    get:
      summary: Query Margin Asset (MARKET_DATA)
      description: 'Weight(IP): 10'
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Asset details
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetFullName:
                    type: string
                    example: "Binance Coin"
                  assetName:
                    type: string
                    example: "BNB"
                  isBorrowable:
                    type: boolean
                    example: false
                  isMortgageable:
                    type: boolean
                  userMinBorrow:
                    type: string
                    example: "0.00000000"
                  userMinRepay:
                    type: string
                    example: "0.00000000"
                required:
                  - assetFullName
                  - assetName
                  - isBorrowable
                  - isMortgageable
                  - userMinBorrow
                  - userMinRepay
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/pair:
    get:
      summary: Query Cross Margin Pair (MARKET_DATA)
      description: 'Weight(IP): 10'
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Margin pair details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    example: 323355778339572400
                  symbol:
                    type: string
                    example: "BNBUSDT"
                  base:
                    type: string
                    example: "BTC"
                  quote:
                    type: string
                    example: "USDT"
                  isMarginTrade:
                    type: boolean
                  isBuyAllowed:
                    type: boolean
                  isSellAllowed:
                    type: boolean
                required:
                  - id
                  - symbol
                  - base
                  - quote
                  - isMarginTrade
                  - isBuyAllowed
                  - isSellAllowed
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/allAssets:
    get:
      summary: Get All Margin Assets (MARKET_DATA)
      description: 'Weight(IP): 1'
      tags:
        - Margin
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Assets details
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    assetFullName:
                      type: string
                      example: "Binance coin"
                    assetName:
                      type: string
                      example: "BNB"
                    isBorrowable:
                      type: boolean
                    isMortgageable:
                      type: boolean
                    userMinBorrow:
                      type: string
                      example: "0.00000000"
                    userMinRepay:
                      type: string
                      example: "0.00000000"
                  required:
                    - assetFullName
                    - assetName
                    - isBorrowable
                    - isMortgageable
                    - userMinBorrow
                    - userMinRepay
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/allPairs:
    get:
      summary: Get All Cross Margin Pairs (MARKET_DATA)
      description: 'Weight(IP): 1'
      tags:
        - Margin
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Margin pairs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    base:
                      type: string
                      example: "BNB"
                    id:
                      type: integer
                      format: int64
                      example: 351637150141315861
                    isBuyAllowed:
                      type: boolean
                    isMarginTrade:
                      type: boolean
                    isSellAllowed:
                      type: boolean
                    quote:
                      type: string
                      example: "BTC"
                    symbol:
                      type: string
                      example: "BNBBTC"
                  required:
                    - base
                    - id
                    - isBuyAllowed
                    - isMarginTrade
                    - isSellAllowed
                    - quote
                    - symbol
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/priceIndex:
    get:
      summary: Query Margin PriceIndex (MARKET_DATA)
      description: 'Weight(IP): 10'
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Price index
          content:
            application/json:
              schema:
                type: object
                properties:
                  calcTime:
                    type: integer
                    format: int64
                    example: 1562046418000
                  price:
                    type: string
                    example: "0.00333930"
                  symbol:
                    type: string
                    example: "BNBBTC"
                required:
                  - calcTime
                  - price
                  - symbol
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/order:
    get:
      summary: Query Margin Account's Order (USER_DATA)
      description: |-
        - Either `orderId` or `origClientOrderId` must be sent.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight(IP): 10
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Interest History, response in descending order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/marginOrderDetail"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      summary: Margin Account New Order (TRADE)
      description: |-
        Post a new order for margin account.

        Weight(UID): 6
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/orderType'
        - $ref: '#/components/parameters/quantity'
        - $ref: '#/components/parameters/quoteOrderQty'
        - $ref: '#/components/parameters/optionalPrice'
        - $ref: '#/components/parameters/stopPrice'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/icebergQty'
        - $ref: '#/components/parameters/ocoNewOrderRespType'
        - $ref: '#/components/parameters/sideEffectType'
        - $ref: '#/components/parameters/timeInForce'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Margin order info
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/marginOrderResponseAck'
                  - $ref: '#/components/schemas/marginOrderResponseResult'
                  - $ref: '#/components/schemas/marginOrderResponseFull'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      summary: Margin Account Cancel Order (TRADE)
      description: |-
        Cancel an active order for margin account.

        Either `orderId` or `origClientOrderId` must be sent.

        Weight(IP): 10
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Cancelled margin order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marginOrder'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/interestHistory:
    get:
      summary: Get Interest History (USER_DATA)
      description: |-
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago
        - `type` in response has 4 enums:
          - `PERIODIC` interest charged per hour
          - `ON_BORROW` first interest charged on borrow
          - `PERIODIC_CONVERTED` interest charged per hour converted into BNB
          - `ON_BORROW_CONVERTED` first interest charged on borrow converted into BNB
        
        Weight(IP): 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/optionalAsset'
        - $ref: '#/components/parameters/isolatedSymbol'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/archived'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Interest History, response in descending order
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        isolatedSymbol:
                          type: string
                          example: "BNBUSDT"
                        asset:
                          type: string
                          example: "BNB"
                        interest:
                          type: string
                          example: "0.01866667"
                        interestAccuredTime:
                          type: integer
                          format: int64
                          example: 1566813600
                        interestRate:
                          type: string
                          example: "0.01600000"
                        principal:
                          type: string
                          example: "36.22000000"
                        type:
                          type: string
                          example: "ON_BORROW"
                      required:
                        - isolatedSymbol
                        - asset
                        - interest
                        - interestAccuredTime
                        - interestRate
                        - principal
                        - type
                  total:
                    type: integer
                    format: int32
                    example: 1
                required:
                  - rows
                  - total
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/forceLiquidationRec:
    get:
      summary: Get Force Liquidation Record (USER_DATA)
      description: |-
        - Response in descending order
        
        Weight(IP): 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/isolatedSymbol'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Force Liquidation History, response in descending order
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        avgPrice: 
                          type: string
                        executedQty: 
                          type: string
                        orderId: 
                          type: integer
                          format: int64
                        price: 
                          type: string
                        qty: 
                          type: string
                        side: 
                          type: string
                        symbol: 
                          type: string
                        timeInForce: 
                          type: string
                        isIsolated: 
                          type: boolean
                        updatedTime: 
                          type: integer
                          format: int64
                      required:
                        - avgPrice
                        - executedQty
                        - orderId
                        - price
                        - qty
                        - side
                        - symbol
                        - timeInForce
                        - isIsolated
                        - updatedTime
                  total: 
                    type: integer
                    format: int32
                    example: 1
                required:
                  - rows
                  - total
                example:
                  rows:
                    -
                      avgPrice: "0.00388359"
                      executedQty: "31.39000000"
                      orderId: 180015097
                      price: "0.00388110"
                      qty: "31.39000000"
                      side: "SELL"
                      symbol: "BNBBTC"
                      timeInForce: "GTC"
                      isIsolated: true
                      updatedTime: 1558941374745
                  total: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/account:
    get:
      summary: Query Cross Margin Account Details (USER_DATA)
      description: 'Weight(IP): 10'
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Margin account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  borrowEnabled:
                    type: boolean
                  marginLevel:
                    type: string
                    example: "11.64405625"
                  totalAssetOfBtc:
                    type: string
                    example: "6.82728457"
                  totalLiabilityOfBtc:
                    type: string
                    example: "0.58633215"
                  totalNetAssetOfBtc:
                    type: string
                    example: "6.24095242"
                  tradeEnabled:
                    type: boolean
                  transferEnabled:
                    type: boolean
                  userAssets:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                          example: "BTC"
                        borrowed:
                          type: string
                          example: "0.00000000"
                        free:
                          type: string
                          example: "0.00499500"
                        interest:
                          type: string
                          example: "0.00000000"
                        locked:
                          type: string
                          example: "0.00000000"
                        netAsset:
                          type: string
                          example: "0.00499500"
                      required:
                        - asset
                        - borrowed
                        - free
                        - interest
                        - locked
                        - netAsset
                required:
                  - borrowEnabled
                  - marginLevel
                  - totalAssetOfBtc
                  - totalLiabilityOfBtc
                  - totalNetAssetOfBtc
                  - tradeEnabled
                  - transferEnabled
                  - userAssets
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/openOrders:
    get:
      summary: Query Margin Account's Open Orders (USER_DATA)
      description: |-
        - If the `symbol` is not sent, orders for all symbols will be returned in an array.
        - When all symbols are returned, the number of requests counted against the rate limiter is equal to the number of symbols currently trading on the exchange
        - If isIsolated ="TRUE", symbol must be sent.

        Weight(IP): 10
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Margin open orders list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/marginOrderDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      summary: Margin Account Cancel all Open Orders on a Symbol (TRADE)
      description: |
        - Cancels all active orders on a symbol for margin account.
        - This includes OCO orders.

        Weight(IP): 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: "#/components/parameters/isIsolatedMargin"
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Cancelled margin orders
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/canceledMarginOrderDetail'
                    - $ref: '#/components/schemas/marginOcoOrder'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/allOrders:
    get:
      summary: Query Margin Account's All Orders (USER_DATA)
      description: |-
        - If `orderId` is set, it will get orders >= that orderId. Otherwise most recent orders are returned.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight(IP): 200
        
        Request Limit: 60 times/min per IP
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Margin order list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/marginOrderDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sapi/v1/margin/order/oco:
    post:
      summary: Margin Account New OCO (TRADE)
      description: |-
        Send in a new OCO for a margin account
        
        - Price Restrictions:
          - SELL: Limit Price > Last Price > Stop Price
          - BUY: Limit Price < Last Price < Stop Price
        - Quantity Restrictions:
          - Both legs must have the same quantity
          - ICEBERG quantities however do not have to be the same.
        - Order Rate Limit
          - OCO counts as 2 orders against the order rate limit.
        
        Weight(UID): 6
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/isIsolatedMargin'
        - $ref: '#/components/parameters/listClientOrderId'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/quantity'
        - $ref: '#/components/parameters/limitClientOrderId'
        - $ref: '#/components/parameters/price'
        - $ref: '#/components/parameters/limitIcebergQty'
        - $ref: '#/components/parameters/stopClientOrderId'
        - $ref: '#/components/parameters/ocoStopPrice'
        - $ref: '#/components/parameters/stopLimitPrice'
        - $ref: '#/components/parameters/stopIcebergQty'
        - $ref: '#/components/parameters/stopLimitTimeInForce'
        - $ref: '#/components/parameters/ocoNewOrderRespType'
        - $ref: '#/components/parameters/sideEffectType'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: New Margin OCO details
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderListId: 
                    type: integer
                    format: int64
                    example: 0
                  contingencyType: 
                    type: string
                    example: "OCO"
                  listStatusType: 
                    type: string
                    example: "EXEC_STARTED"
                  listOrderStatus: 
                    type: string
                    example: "EXECUTING"
                  listClientOrderId: 
                    type: string
                    example: "JYVpp3F0f5CAG15DhtrqLp"
                  transactionTime: 
                    type: integer
                    format: int64
                    example: 1563417480525
                  symbol: 
                    type: string
                    example: "LTCBTC"
                  marginBuyBorrowAmount: 
                    type: string
                    example: "5"
                    description: will not return if no margin trade happens
                  marginBuyBorrowAsset: 
                    type: string
                    example: "BTC"
                    description: will not return if no margin trade happens
                  isIsolated: 
                    type: boolean
                    example: false
                  orders: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          type: string
                        orderId: 
                          type: integer
                          format: int64
                        clientOrderId: 
                          type: string
                      required:
                        - symbol
                        - orderId
                        - clientOrderId
                    example:
                      - symbol: "LTCBTC"
                        orderId: 2
                        clientOrderId: "Kk7sqHb9J6mJWTMDVW7Vos"
                      - symbol: "LTCBTC"
                        orderId: 3
                        clientOrderId: "xTXKaGYd4bluPVp78IVRvl"
                  orderReports: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        symbol: 
                          type: string
                        orderId: 
                          type: integer
                          format: int64
                        orderListId: 
                          type: integer
                          format: int64
                        clientOrderId: 
                          type: string
                        transactTime: 
                          type: integer
                          format: int64
                        price: 
                          type: string
                        origQty: 
                          type: string
                        executedQty: 
                          type: string
                        cummulativeQuoteQty: 
                          type: string
                        status: 
                          type: string
                        timeInForce: 
                          type: string
                        type: 
                          type: string
                        side: 
                          type: string
                        stopPrice: 
                          type: string
                      required:
                        - symbol
                        - orderId
                        - orderListId
                        - clientOrderId
                        - transactTime
                        - price
                        - origQty
                        - executedQty
                        - cummulativeQuoteQty
                        - status
                        - timeInForce
                        - type
                        - side
                        - stopPrice
                    example:
                      - symbol: "LTCBTC"
                        orderId: 2
                        orderListId: 0
                        clientOrderId: "Kk7sqHb9J6mJWTMDVW7Vos"
                        transactTime: 1563417480525
                        price: "0.000000"
                        origQty: "0.624363"
                        executedQty: "0.000000"
                        cummulativeQuoteQty: "0.000000"
                        status: "NEW"
                        timeInForce: "GTC"
                        type: "STOP_LOSS"
                        side: "BUY"
                        stopPrice: "0.960664"
                      - symbol: "LTCBTC"
                        orderId: 3
                        orderListId: 0
                        clientOrderId: "xTXKaGYd4bluPVp78IVRvl"
                        transactTime: 1563417480525
                        price: "0.036435"
                        origQty: "0.624363"
                        executedQty: "0.000000"
                        cummulativeQuoteQty: "0.000000"
[...]
